<div class="container">
    <div class="col-md-6 offset-md-3 mt-5">
        <div id="wrapper">

    <div class="row" *ngIf="CurrentState=='Wait'">
        <div class="col-md-12  close-form">
            <h2> Please Wait...</h2>
        </div>
    </div>
    <div class="row"
    *ngIf="CurrentState=='NotVerified'">
    <div class="col-md-12">
        <h2> Invalid URL.</h2>
    </div>
</div>
    <div class="row">
    <div class="col-md-12">
      <div id="errorMsg" *ngIf="errorMessage">
        <span>{{errorMessage}}</span>
    </div>
    <div id="successMsg" *ngIf="successMessage">
        <span>{{successMessage}}</span>
    </div>
        <div class="panel panel-warning small__width">

        <div class="panel-heading">Set New Password</div>

            <div class="panel-body">

                <form role="form" [formGroup]="forgotform" (ngSubmit)="forgotPwd(forgotform)">

                    <div class="form-group">
                        
                        <input type="password" formControlName="password" class="form-control" placeholder="Enter OTP" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">OTP is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                       
                        <input type="password" formControlName="Newpassword" class="form-control" placeholder="Enter New Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">New Password is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        
                        <input type="password" formControlName="Confirmpassword" class="form-control" placeholder="Enter New Confirm" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Confirm Password is required</div>
                        </div>
                    </div>
                

                    <div class="form-group">
                  <button class="btn btn-warning btn-block" type="submit">Update
                    Password</button>
          </div>
                  
                </form>

            </div>

        </div>

    </div>
</div>
</div>
</div>
</div>
