 #c-btn {
    /* display: inline-block;
    border-width: 1px;
    line-height: 1.25;
    border-radius: 3px;
    font-size: .85rem; */
    border: 1px solid #ccc;
    /* padding: 5px 10px;
    cursor: pointer;
    align-items: center;
    min-height: 38px; */
}