
<div class="card mt-4">
    <h4 class="card-header">You're logged in with angular 8 & JWT!!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>

    <div class="row">
    <div class="col-xl-10 col-lg-10 col-md-9 col-sm-8">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="form-group">
                    <label>User Type <span class="text-danger">*</span></label>
                    <select class="form-control" required name="userType" >
                      <option value="">Select</option>
                      <option *ngFor="let userlist of userdropList" >{{userlist.dropdownName}}</option>
                   
                    </select>
<!--           
                    <div
                      *ngIf="applicationListId.invalid && (applicationListId.dirty || applicationListId.touched || formSubmitted)"
                      class="error-msg">
                      <div *ngIf="applicationListId?.errors?.required"><i class="fa fa-times-circle-o"></i> User type is
                        required
                      </div>
          
                    </div> -->
          
          
          
          
                  </div>

                </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-12 col-md-4 form-group">
                    <div class="form-group">
                      <label>Date<span class="text-danger">*</span></label>
                    <input type="text"
                          class="form-control"
                          [minDate]="minDate"
                          [maxDate]="maxDate"
                          #dp="bsDatepicker"
                          bsDatepicker [(bsValue)]="myDateValue">
                  </div>
                  </div>

                  <div class="col-xs-12 col-12 col-md-4 form-group "> 
                    <div class="form-group">
                      <label>Proof <span class="text-danger">*</span></label>
                    
                    <angular2-multiselect  id="c-btn" [data]="multiSelectlist"  [(ngModel)]="addressProofObj['selectedItems']"
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)"
    ></angular2-multiselect>
  </div>
</div>
                 
                  <!-- </div> -->
                </div>
        </div>
    </div>


        <!-- <div *ngIf="loading" class="spinner-border spinner-border-sm">
<ul *ngIf="users">
    <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
</ul>
        </div> -->
    </div>
</div>