  <div class="container">
      <div class="col-md-6 offset-md-3 mt-5">
          <div id="wrapper">
  <div class="row">

      <div class="col-md-12">
        <div id="errorMsg" *ngIf="errorMessage">
          <span>{{errorMessage}}</span>
      </div>
      <div id="successMsg" *ngIf="successMessage">
          <span>{{successMessage}}</span>
      </div>
          <div class="panel panel-warning small__width">

          <div class="panel-heading">Forget password</div>

              <div class="panel-body">

                  <form role="form" [formGroup]="forgotform" (ngSubmit)="forgotPwd(forgotform)">

                      <div class="form-group ">
                        <input type="text" class="form-control" name="femail"  id="femail" formControlName="femail" placeholder="Enter email or username" [ngClass]="{ 'is-invalid': IsvalidForm && f.femail.errors }">
                        <div *ngIf="IsvalidForm && f.femail.errors" class="invalid-feedback">
                        <div *ngIf="f.femail.errors.required">Please enter a valid email!</div>
                        </div>
                      </div>
                  

                      <div class="form-group">
                    <button class="btn btn-warning btn-block" type="submit">Reset Password</button>
            </div>
                    
                  </form>

              </div>

          </div>

      </div>
  </div>
  </div>
  </div>
  </div>
