#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}

.small__width {
    max-width: 380px;
    margin: 0 auto;
    background-color: #fff;
   
}

.panel-warning>.panel-heading {
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}

.has-feedback {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}

.form-control-feedback {
    line-height: 40px;
}

/* .panel { */
    /* margin-bottom: 20px; */
    /* background-color: #fff; */
    /* -webkit-border-radius: 2px; */
    /* border-radius: 2px;
    border: 1px solid transparent; */
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.03); */
    /* box-shadow: 0 1px 1px rgba(0,0,0,.03); */
/* } */

.panel-body{
 /* -webkit-border-radius: 2px; */
 border-radius: 2px;
 border: 1px solid #ec971f;
 /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.03); */
 box-shadow: 0 1px 1px rgba(0,0,0,.03);
}