<!-- <div class="col-md-6 offset-md-3 mt-5">
<div  id="wrapper"> -->
<form [formGroup]="registerform" (ngSubmit)="onSubmit(registerform.value)" novalidate>
  <div class="form-group">
    <label>
      <p class="label-txt">ENTER YOUR USERNAME</p>
      <input type="text" formControlName="UserName" class="  input" [ngClass]="{ 'is-invalid': isSubmitted && f.Name?.errors }">
      <div class="line-box">
        <div class="line"></div>
      </div>
      <div *ngIf="registerform.controls['UserName'].dirty && !registerform.controls['UserName'].valid || registerform.controls['UserName'].touched  && !registerform.controls['UserName'].pending ||  isSubmitted && f.UserName?.errors  " class="">
       <div *ngIf="f.UserName?.errors?.required">User Name is required</div>
      </div>
    </label>
</div> 
  
  <div class="form-group">
    <label>
      <p class="label-txt">ENTER YOUR EMAIL</p>
      <input type="text" formControlName="email" class=" input" [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }">
      <div class="line-box">
        <div class="line"></div>
      </div>
      <div *ngIf="registerform.controls['email'].dirty && !registerform.controls['email'].valid || registerform.controls['email'].touched  && !registerform.controls['email'].pending ||  isSubmitted && f.email?.errors  " class="">
       <div *ngIf="f.email?.errors?.required">email is required</div>
      </div>
    </label>
</div>

<div class="form-group">
    <label>
      <p class="label-txt">ENTER YOUR PASSWORD</p>
      <input type="password" formControlName="password"  class=" input" [ngClass]="{ 'is-invalid': isSubmitted && f.password.errors }">
      <div class="line-box">
        <div class="line"></div>
      </div>
      <div *ngIf="registerform.controls['password'].dirty && !registerform.controls['password'].valid || registerform.controls['password'].touched  && !registerform.controls['password'].pending ||  isSubmitted && f.password?.errors "  class="">
       <div *ngIf="f.password?.errors?.required">Password is required</div>
       <div *ngIf="f.password?.errors?.minLength">Password must be at least 6 characters</div>
      </div>
    </label>
</div>
<div class="form-group">
    <label>
        <p class="label-txt">ENTER YOUR CONFIRM PASSWORD</p>
        <input type="password" formControlName="confirmPassword" class=" input "[ngClass]="{ 'is-invalid': isSubmitted && f.confirmPassword.errors }">
        <div class="line-box">
            <div class="line"></div>
          </div>
          <div *ngIf="registerform.controls['confirmPassword'].dirty && !registerform.controls['confirmPassword'].valid || registerform.controls['confirmPassword'].touched  && !registerform.controls['confirmPassword'].pending ||  isSubmitted && f.confirmPassword?.errors" class="">
         <div *ngIf="f.confirmPassword?.errors?.required">Confirm Password is required</div>
         <div *ngIf="f.confirmPassword.errors?.mustMatch">Passwords must match</div> 
        </div>
      </label>
    </div>
    <div class="form-group">
    <button type="submit">submit</button>
  </div>
  <p class=" form-group ">
    Not a member yet ?
    <a [routerLink]="['/login']" class="to_register">Login</a>
</p>
  </form>
<!-- </div>
</div> -->